<!DOCTYPE html>
<html lang="{{ APP_LANGUAGE }}">
<head>
    <title>MyLibrary ~ {{ title }}</title>
    <base href="{{ baseUrl }}">
    <link type="image/x-icon" rel="shortcut icon" href="/assets/app/logo.ico"/>
    <link type="text/css" href="3rd/yui-reset-3.5.0.css" rel="stylesheet"/>
    <link type="text/css" href="3rd/jquery-ui-themes-1.12.1/themes/{{ appTheme }}/jquery-ui.css" rel="stylesheet">
    <link type="text/css" href="3rd/jquery-ui-themes-1.12.1/themes/{{ appTheme }}/theme.css" rel="stylesheet">
    <link type="text/css" href="3rd/fancybox-2.1.5/source/jquery.fancybox.css" rel="stylesheet">
    <link type="text/css" href="3rd/raty-2.8.0/lib/jquery.raty.css" rel="stylesheet"/>
    <link type="text/css" href="3rd/jqgrid-4.6.0/ui.jqgrid.css" rel="stylesheet"/>
    <link type="text/css" href="assets/app/css/style.css" rel="stylesheet">
    <script src="3rd/jquery-2.2.4/jquery.min.js"></script>
    <script src="3rd/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="3rd/fancybox-2.1.5/source/jquery.fancybox.pack.js"></script>
    <script src="3rd/raty-2.8.0/lib/jquery.raty.js"></script>
    <script src="3rd/jqgrid-4.6.0/jquery.jqGrid.min.js"></script>
    <script src="3rd/jqgrid-4.6.0/i18n/grid.locale-{{ gridLocale }}.js"></script>
    <script src="3rd/js.cookie.js"></script>
</head>
<body>
<header style="margin: auto !important; text-align: center; position: relative;">
    <form style="margin: 30px;">
        <div id="mylibrary-menu" class="no-selection">
            {% include '_menu_item.html.twig' with {'id': 'home', 'link': '/', 'title': t.get('Library'), 'path': path } only %}
            {% include '_menu_item.html.twig' with {'id': 'config', 'link': '/config', 'title': t.get('Configuration'), 'path': path } only %}
            {% include '_menu_item.html.twig' with {'id': 'about', 'link': '/about', 'title': t.get('About') ~ ' ' ~ APP_VERSION, 'path': path } only %}
        </div>
    </form>
</header>
{% block content %}{% endblock %}
<footer></footer>
<script>
  $("#mylibrary-menu").buttonset()
  $("#mylibrary-menu input").on('click', function (e) {
    if (e.target.id === 'menu_vacuum-link') {
      e.preventDefault()
      e.stopPropagation()
      runVacuum($(e.target))
      return
    }
    window.location.href = $(this).val()
  })


  function runVacuum($menuItem) {
    let link = $menuItem.val()
    let backupMenuText = $menuItem.children('span').text()
    // dummy no multi click
    if ($menuItem.prop('disabled')) {
      return false
    }
    $menuItem.prop('disabled', true)
    $('span', $menuItem).text('{{ t.get('doing...') }}')
    
    console.log('compacting...')
    let xhr = $.post(link, function (data) {
      alert(data)
    })
    xhr.always(function () {
      $menuItem.children('span').text(backupMenuText)
      $menuItem.removeClass('ui-state-active')
      $menuItem.prop('disabled', false)
    })
  }

</script>
</body>
</html>