{% extends "_layout.html.twig" %}
{% set title = t.get('Books') %}
{% block content %}
    <table id="book-list"></table>
    <div id="book-pager"></div>

    <script type="text/javascript">
      
      //INSPIRATION: http://stackoverflow.com/a/4842450/2032121
      //SOLUTION: http://stackoverflow.com/a/4073967/2032121
      //SOLUTION: http://www.trirand.com/blog/?page_id=393/help/to-get-the-rowid-of-the-nth-row-of-the-grid/
      //SOLUTION: http://stackoverflow.com/a/9545050/2032121
      //API: http://www.w3.org/TR/FileAPI/
      //identifying which image is currently open in fancybox
      //https://github.com/fancyapps/fancyBox/issues/40
      //JSON instead of FORM
      //https://stackoverflow.com/a/34654952
      
      $.jgrid.no_legacy_api = true;

      let book_list = $("#book-list"), lastSel, lastFavorite, lastRead, filterCategories

      function getCookie(n, v) {
        let val = Cookies.get(n)
        if (val === undefined) {
          val = v
        }
        return val
      }

      window.onbeforeunload = function () {
        Cookies.set('rowNum', book_list.jqGrid('getGridParam', 'rowNum'))
        Cookies.set('page', book_list.jqGrid('getGridParam', 'page'))
      }

      let ratyOptions = {
        score: function () {
          return $(this).attr('data-score')
        },
        click: function (score, evt) {
          $(this).attr('data-score', score)
          $(this).attr('data-write', 'false')
        },
        readOnly: function () {
          return ('false' === $(this).attr('data-write'))
        },
        space: false,
        number: 5,
        cancel: false,
        half: true,
        path: '3rd/raty-2.8.0/lib/images/'
      }
      
      book_list.jqGrid({
        url: 'api/book',
        editurl: 'api/book/manage',
        datatype: "json",
        colNames: [
          '{{ t.get('Added') }}',
          '',
          '{{ t.get('Favorite') }}',
          '{{ t.get('Read') }}',
          '{{ t.get('Year') }}',
          '{{ t.get('Title') }}',
          '{{ t.get('ISBN - 13') }}',
          '{{ t.get('Author') }}',
          '{{ t.get('Publisher') }}',
          '{{ t.get('Extension') }}',
          '',
          ''
        ],
        colModel: [
          {
            name: 'created_date',
            index: 'created_date',
            width: 80,
            editable: false,
            formatter: "date",
            formatoptions: {srcformat: "ISO8601Long", newformat: "d-m-Y"}
          },
          // we use book guid as book cover column!
          {
            name: 'book_guid',
            index: 'book_guid',
            width: 21,
            editable: false,
            frozen: true,
            align: 'center',
            search: false,
            sortable: false,
            formatter: function (cellvalue, options, row) {
              let link = `api/book/cover/${options.rowId}?t=${Date.now()}`
              let title = row.year ? `${row.year}: ${row.title}` : `${row.title}`
              return `<a class="book-cover-link" data-guid="${row.book_guid}" data-fancybox-group="book-covers" href="${link}" title="${title}"><img alt="cover" class="book-cover" src="${link}"/></a>`
            }
          },
          {
            name: 'favorite', index: 'favorite', width: 80, search: false,
            editable: true,
            formatter: function (cellvalue, options, row) {
              return '<div class="book-favorite" data-write="false" data-guid="' + options.rowId + '" data-score="' + cellvalue + '" />'
            },
            unformat: function (cellvalue, options) {//BUG: cellvalue is empty!
              return lastFavorite
            },
            edittype: 'custom',
            editoptions: {
              custom_element: function (value, options) {
                return $('<div class="book-favorite" data-write="true" data-score="' + value + '"></div>').raty(ratyOptions)[0]
              },
              custom_value: function (element) {
                return element.attr('data-score')
              }
            }
          },
          {
            name: 'read',
            index: 'read',
            width: 60,
            stype: 'select',
            search: true,
            searchoptions: {
              sopt: ['eq'],
              value: ':{{ t.get('All') }};yes:{{ t.get('Yes') }};no:{{ t.get('No') }}'
            },
            formatter: function (cellvalue, options, rowObject) {
              lastRead = cellvalue
              return (cellvalue === 'yes' ? '<div class="book-read-yes"/>' : '')
            },
            unformat: function (cellvalue, options) {
              return lastRead
            },
            edittype: 'custom',
            editoptions: {
              custom_element: function (value, options) {
                return '<input type="checkbox" ' + (value === 'yes' ? 'checked="checked"' : '') + '/>'
              },
              custom_value: function (element) {
                return element.is(':checked') ? 'yes' : 'no'
              }
            }
          },
          { name: 'year', index: 'year', width: 50 },
          { name: 'title', index: 'title', width: 400, align: 'left' },
          { name: 'isbn13', index: 'isbn13', width: 115 },
          { name: 'author', index: 'author', width: 150, align: 'left'},
          { name: 'publisher', index: 'publisher', width: 150, align: 'left' },
          { name: 'ext', index: 'ext', width: 80, align: 'center' },
          {
            name: 'filename',
            index: 'filename',
            width: 20,
            align: 'center',
            search: false,
            resize: false,
            sortable: false,
            editable: false,
            formatter: function (cellvalue, options, rowObject) {
              return '<span title="click to copy filename to clipboard" class="book-filename ui-icon ui-icon-document" data-filename="{{ copy_book_dir() | raw }}' + cellvalue + '"></span>'
            }
          },
          {
            name: 'myac',
            width: 40,
            fixed: true,
            sortable: false,
            editable: false,
            search: false,
            resize: false,
            formatter: 'actions',
            formatoptions: {
              keys: true,
              editbutton: false
            }
          }
        ],
        cmTemplate: {
          align: 'center',
          sortable: true,
          editable: true,
          hidden: false
        },
        caption: '',
        rowNum: parseInt(getCookie('rowNum', 10)),
        page: parseInt(getCookie('page', 1)),
        rownumbers: true,
        autowidth: true,
        height: '100%',
        rowList: [10, 20, 30, 40, 50],
        pager: jQuery('#book-pager'),
        sortname: 'created_date',
        viewrecords: true,
        sortorder: "desc",
        sortable: true,
        //support cell edit
        cellEdit: false,
        cellSubmit: 'remote',
        cellurl: 'api/book/manage', subGrid: true,
        
        ajaxRowOptions: {
          beforeSend: function (jqXHR, settings) {
            jqXHR.setRequestHeader('Accept', "application/json")
            jqXHR.setRequestHeader('Content-Type', "application/json")
          }
        },
        serializeRowData: function (postData) {
          return JSON.stringify(postData);
        },
        // TODO: better error message and unified
        errorTextFormat: function (response) {
          return response.responseText;
        },
        subGridRowExpanded: function (subgrid_id, row_id) {
          // If we want to pass additional parameters to the url we can use
          // a method getRowData(row_id) - which returns associative array in type name-value
          const subgrid_table_id = subgrid_id + "_t"
          const jq_subgrid_table_id = '#' + subgrid_table_id
          const pager_id = "p_" + subgrid_table_id
          const jq_subgrid_id = '#' + subgrid_id
          
          $(jq_subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table><div id='" + pager_id + "' class='scroll'></div>")
          jQuery(jq_subgrid_table_id).jqGrid({
            caption: 'Categories',
            rownumbers: true,
            url: `api/book/category/${row_id}`,
            editurl: 'api/book/category/manage',
            datatype: "json",
            colNames: ['title', 'marker'],
            colModel:
              [
                {name: "title", index: "title", width: 200, editable: true},
                {
                  name: "marker",
                  index: "marker",
                  formatter: "checkbox",
                  edittype: "checkbox",
                  editable: true,
                  editoptions: {value: "1:0"}
                }
              ],
            cellEdit: true,
            cellSubmit: 'remote',
            cellurl: `api/book/category/manage/${row_id}`,
            rowNum: 20,
            pager: pager_id,
            height: '100%',
            sortorder: "asc",
            sortname: 'title'
          })

          jQuery(jq_subgrid_table_id).jqGrid('navGrid', "#" + pager_id, {edit: true, add: true, del: true})
        },
        // subGridRowColapsed: function(subgrid_id, row_id) .. // this function is called before removing the data
        toolbar: [true, "bottom"],
        loadComplete: function () {
          // support category filters as checkboxes
          if (filterCategories == null) {
            var $toolbar = $('#t_' + book_list.attr('id'))
            $widget = $('<div id="category_list" style="user-select: none;">')
            $widget.append($('<input id="category_ALL" type="checkbox" value="false" /> <label for="category_ALL">[ALL]</label>'))

              {% for category in categories %}
            $widget.append($('<input id="category_{{ category.guid }}" type="checkbox" value="{{ category.guid }}" /> <label for="category_{{ category.guid }}">{{ category.title }}</label>'))
              {% endfor %}

            $toolbar.append($widget)

            $("#category_list").buttonset()
            $("#category_list input").click(function () {
              var id = $(this).attr('id')

              if (id === 'category_ALL') { // select all
                if ($(this).prop('checked')) {
                  var category_ids = $('#category_list input:not(#category_ALL)').map(function () {
                    return $(this).val()
                  })
                  $('#category_list input').prop('checked', false)
                  $('#category_list input#category_ALL').prop('checked', true)

                  filterCategories = Array.prototype.join.call(category_ids, ",")
                } else {
                  filterCategories = 0
                }
              } else {
                // reset ALL
                $('#category_list input#category_ALL').prop('checked', false)

                let category_ids = $('#category_list input:checked').map(function () {
                  return $(this).val()
                })
                filterCategories = Array.prototype.join.call(category_ids, ",")
              }

              $("#category_list input").button('refresh')

              book_list.jqGrid('setGridParam', {
                url: 'api/book?filterCategories=' + filterCategories,
                page: 1
              }).trigger("reloadGrid")
            })
            filterCategories = 0 // avoid another append
          }

          $(".book-filename").on('click', function (e) {
            let clipboardText =  `evince "${$(this).attr('data-filename')}"`
            window.prompt("Copy to clipboard: Ctrl+C, Enter", clipboardText)
          })

          $(".book-favorite").raty(ratyOptions) //rating init

          $(".book-cover-link").fancybox({
            type: 'image',
            /*tpl: {wrap:
             '<div class="fancybox-wrap" tabIndex="-1">'+
             '<div class="fancybox-skin">'+
             '<div class="fancybox-outer">'+
             '<div class="fancybox-inner book-cover-holder">'+
             '</div>'+
             '</div>'+
             '</div>'+
             '</div>
             },'*/
            afterLoad: function (e) {
              var book_guid = $(this.element[0]).attr('data-guid') //1st element in visible group, we show 1 by 1
              coverUpload.init(book_guid)
            },
            afterClose: function (e) {
            }
          })
        },
        ondblClickRow: function (rowid, ri, ci) {
          var row_obj = book_list.jqGrid('getInd', rowid, true) // row_obj is just piece of html - TR
          lastFavorite = $(row_obj).find('div.book-favorite').attr('data-score')
          lastRead = $(row_obj).find('div.book-read-yes').attr('class') !== undefined ? 'yes' : 'no'

          //.jqGrid('editRow', rowid, keys, oneditfunc, successfunc, url, extraparam, aftersavefunc,errorfunc, afterrestorefunc);
          book_list.jqGrid('editRow', rowid, {
            keys: true,
            aftersavefunc: function (id, response, options) {
              $('.book-favorite[data-guid=\"' + id + '\"]').raty(ratyOptions)//SOLUTION:http://stackoverflow.com/a/6246687/2032121
            },
            afterrestorefunc: function (id, response, options) {
              $('.book-favorite[data-guid="' + id + '"]').raty(ratyOptions)
            }
          })
        },
        onSelectRow: function (id) {
          if (id && id !== lastSel) {
            if (typeof lastSel !== "undefined") {
              book_list.jqGrid('restoreRow', lastSel)
             // $(".book-favorite").raty(ratyOptions); //BUG: overhead!
            }
            lastSel = id
          }
        }
      })
        .jqGrid('navGrid', '#book-pager', {
          // navigation options
          edit: false,
          add: false,
          del: false,
          search: false
        })
        // inline filter
        .jqGrid('filterToolbar', {
          stringResult: true,
          searchOnEnter: false
        })
    </script>


    <script type="text/javascript">
      //
      // Book Cover Management
      //
      var coverUpload = {
        init: function (book_guid) {
          $(".fancybox-inner").addClass("book-cover-holder").append('<div class="book-cover-drop">drop<br /><b>HERE</b></div>')

          $('.book-cover-drop')
            .on('dragover', function (e) {
              e.preventDefault()
              $(this).addClass('hovered')
            })
            .on('dragleave', function (e) {
              e.preventDefault()
              $(this).removeClass('hovered')
            })
            .on('dragenter', function (e) {
              e.preventDefault()
            })
            .on('save-file', function (e, file) {
              if ($.inArray(file.type, ['image/png', 'image/jpeg', 'image/gif']) === -1) {
                alert('Sorry, you can use only GIF, JPEG and PNG images')
                return
              }
              let xhr = new XMLHttpRequest()
              xhr.open('POST', `api/book/cover/${book_guid}`, true)
              xhr.send(file)
              xhr.onreadystatechange = function (e) {
                if (this.readyState !== 4 || this.status !== 200) {
                  return
                }
                //refresh view
                let r = new FileReader()
                r.readAsDataURL(file)
                r.onload = function (e) {
                  $('.book-cover-holder > img').attr('src', e.target.result)
                  $(book_list).jqGrid('setRowData', book_guid, {book_guid: book_guid});
                }
                r.onprogress = function (e) {
                  if (e.lengthComputable) {
                    $('.book-cover-progress').val(e.loaded / e.total * 100)
                  }
                }
              }//xhr
            })
            .on('drop', function (e) {
              e = e.originalEvent
              e.preventDefault()
              var file = e.dataTransfer.files[0]
              $(this).trigger('save-file', file)
            })
        }//init()
      }

      // cover was pasted from browser image clipboard
      $(document).on('paste', function (e) {
        var cover = $('.book-cover-drop:visible')[0]
        if (cover !== undefined) {
          e = e.originalEvent
          e.preventDefault()
          $cover = $(cover)
          var items = e.clipboardData.items
          for (var i = 0; i < items.length; i++) {
            if (items[i].type.indexOf("image") !== -1) {
              // We need to represent the image as a file,
              var file = items[i].getAsFile()
              $cover.trigger('save-file', file)
            }
          }
        }// if cover is visible
      })
    </script>

{% endblock %}
